
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

.layout-main {
  flex: 1;
 
  color: #fff;
  padding: 0; 
}

