.scroll-to-top {
  position: fixed;
  bottom: 30px;  /* distance depuis le bas */
  right: 30px;   /* distance depuis la droite */
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: white;
  color: black;
  transform: translateY(-2px);
}
